<f:layout name="Default"/>

<f:section name="Title">Dancers</f:section>

<f:section name="MainContent">
    <h1>{f:translate(id: 'list.headline')}</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{f:translate(id: 'list.table.name')}</th>
                <th scope="col">{f:translate(id: 'list.table.information')}</th>
                <th scope="col">{f:translate(id: 'list.table.country')}</th>
                <th scope="col">{f:translate(id: 'list.table.delete')}</th>
                <th scope="col">{f:translate(id: 'list.table.edit')}</th>
            </tr>
        </thead>
        <tbody>
            <f:for as="dancer" each="{dancers}" iteration="iterator">
                <tr>
                    <td>{iterator.index + 1}</td>
                    <td>{dancer.name}</td>
                    <td>{dancer.information}</td>
                    <td>{dancer.country.name}</td>
                    <td>
                        <f:form action="delete" arguments="{dancer: dancer}">
                            <f:form.submit name="delete" value="{f:translate(id: 'list.table.delete')}" class="btn btn-dark" />
                        </f:form>
                    </td>
                    <td>
                        <f:link.action action="editForm" arguments="{dancer: dancer}">
                            <button class="btn btn-dark">{f:translate(id: 'list.table.edit')}</button>
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <f:link.action action="addForm" class="btn btn-dark w-50">{f:translate(id: 'list.addDancer')}</f:link.action>
    </div>
</f:section>
