<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">{f:translate(id: 'navbar.title')}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="/">{f:translate(id: 'navbar.home')}</span></a>
            </li>
            <li>
                <a class="nav-link" href="/about">{f:translate(id: 'navbar.about')}</span></a>
            </li>
        </ul>
    </div>
</nav>
